.center {
  display: flex;
  justify-content: center;
  height: 30rem;
}

.riddle {
  left: 0px;
  right: 0px;
  position: absolute;
  background-color: cornflowerblue;
  top: 0px;
  text-align: center;
  padding: 1rem;
  font-size: 30px;
}

.info {
  border-style: solid;
  border-color: black;
  background-color: bisque;
  font-size: 22pt;
  font-weight: bold;
  position: absolute;
  right: 17rem;
  top: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text {
  position: absolute;
  width: 10vw;
  right: 10rem;
  top: 11rem;
}

.dog {
  position: absolute;
  width: 10vw;
  right: 10rem;
  top: 11rem;
  display: none;
}

.outside {
  position: absolute;
  width: 10vw;
  right: 10rem;
  top: 11rem;
  display: none;
}

.room {
  margin-top: 5rem;
}

.boxpuzzle {
  height: 30px;
  width: 30px;
  background-color: blue;
  position: absolute;
  bottom: 280px;
  right: 430px;
  text-align: center;
}

.m {
  background-color: brown;
  position: absolute;
  height: 23px;
  width: 18px;
  left: 665px;
  bottom: 347px;
}

.dogimg {
  position: absolute;
  width: 300px;
  left: 20rem;
  top: 2rem;
}

.dog2img {
  position: absolute;
  height: 260px;
  left: 22rem;
  top: 1.5rem;
  display: none;
}

.door {
  position: absolute;
  height: 295px;
  width: 120px;
  top: 140px;
  left: 420px;
  transform: perspective(14em) rotateY(50deg);
}

.imgstartpage {
  height: 100vh;
  position: sticky;
  top: 0;
  opacity: 0.6;
}

.textfirstpage {
  background-color: white;
  text-align: center;
  font-size: 30pt;
  bottom: 50px;
  left: 15%;
  position: absolute;
}

.startpageimg {
  width: 50px;
  position: absolute;
  right: 55px;
  bottom: 45px;
}

.switch {
  height: 50px;
  width: 50px;
  background-color: aqua;
  position: absolute;
  right: 30%;
  top: 100px;
}

.light-on {
  background-color: white;
}

.light-off {
  background-color: black;
}

.e {
  height: 30px;
  width: 30px;
  display: none;
  position: absolute;
  top: 470px;
  left: 53%;
}

.santa {
  height: 30rem;
  display: none;
  position: absolute;
}

.finish {
  border: 3px;
  border-style: solid;
  border-color: blueviolet;
  display: inline-block;
  padding: 2rem;
  font-size: 30pt;
  position: absolute;
  top: 35%;
  left: 30%;
}

.confetti {
  z-index: 0;
}

.color {
  background-color: bisque;
}

.h2 {
  border-style: solid;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.2rem;
  width: 15vw;
  line-height: 8pt;
}

.win {
  border-style: solid;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.2rem;
  width: 15vw;
  line-height: 8pt;
  display: none;
}

.h3 {
  margin-left: 1rem;
}

.a {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 270px;
  margin-top: 14rem;
  display: none;
}

.santatext {
  background-color: white;
  position: absolute;
  left: 25rem;
  top: 50%;
  font-size: 16pt;
  padding: 3rem;
  display: none;
}

.arrow {
  width: 50px;
  position: absolute;
  left: 35px;
  bottom: 300px;
  transform: rotate(180deg);
  display: none;
}

.arrow2 {
  width: 50px;
  position: absolute;
  left: 35px;
  bottom: 300px;
  transform: rotate(180deg);
}

.done {
  background-color: rgb(9, 164, 9);
  font-size: 16pt;
  position: absolute;
  left: 47%;
  bottom: 10rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  display: none;
}
